.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  grid-template-rows: auto;
}

.country-cotainer {
  background-color: aqua;
}

.country-flags {
  object-fit: cover;
  width: 100%;
  height: 150px;
}
